// HTML 300 Florida Energy Redesign Project
// Colors selected based on FLorida State Flag, https://www.schemecolor.com/florida-flag-usa.php

$color1: #a80534; // Alabama Red
$color2: #ffb900; // Selective Yellow
$color3: #015941; // Castleton Green
$color4: #007cc2; // Ocean Boat Blue
$color5: #7d4802; // Dark Bronze

$color6: #FFFFFF; // White

$font-color: #000000; // Black

$font-link: $color1; // Hyperlink colors
$font-link-visted: $color5;
$font-link-hover: $color3;

a:link {
  color: black;
}
a:visited {
  color: $color1;
}

a:hover, a:active {
  color: $color2;
}

a {
  color: black;
}

.brochure {
  color: $color3;
}

header {
  background-color: transparent;
}

.title-main {
  background-color: $color6;
}

footer {
  background-color: $color6;
}

.bottom-nav {
  background-color: $color4;
  color: $color6;
}

.school-nav {
  background-color: $color4;
}

.contact-nav {
  background-color: $color4;
}

.highlight {
  background-color: $color4;
}

.submit {
  background-color: $color1;
  color: $color6;
}

.highlight:nth-child(2) {
  color: $color6;
}

.brochure {
  color: $color3;
  background-color: $color2;
}

.school-img{
  background-color: rgb(240,240,240);
}

.contact-nav a {
  color: $color6;
}

// technical.html
li:before {
  color: $color3;
}

.nav-research-element {
  color: red;
}

// facilities.HTML
.nav-institutions li:before {
  color: black;
}
