// HTML 300 Florida Energy Redesign Project
$font-size-lg: 1.1rem;
$font-size-md: 0.9rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.7rem;

$font-type1: 'Roboto', sans-serif;
$font-type2: 'Open Sans', sans-serif;

$font-weight: default;

body {
  font-family: $font-type1;
  font-size: $font-size-md;
}

@media (max-width: 480px) {
  font-size: $font-size-xs;
}
@media (max-width: 767px) {
    fontsize: $font-size-sm;
    display: block;
    a h1 {
      font-size: 0.6rem;
    }
  }
@media (max-width: 992px) {
  fontsize: $font-size-md;
}
@media (max-width: 1200px) {
    fontsize: $font-size-lg;
}



.title {
  font-size: $font-size-md;
  font-weight: bold;
}

.top-nav h3{
  font-size: 1.3rem;
  font-family:$font-type2;
  font-weight: bold;
}

.top-nav h6, .connect-subtitle {
  font-size: .8rem;
  font-family:$font-type2;
  font-weight: bold;
}

p {
  font-family: $font-type2;
}

h2 {
  font-weight: bold;
}

h3 .title-main {
  font-weight: bold;
}

.highlight:nth-child(2) {
  font-size: 1.4rem;
  font-weight:lighter;
}

.brochure {
  font-size: 1.5rem;
}

.nav-low-element h3 {
  font-family: $font-type1;
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-nav {
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  // cellspacing: 15px;
}
