// HTML 300 Florida Energy Redesign Project
@import 'colors';

// header {
//   background-color: $color6;
//   width: 100%;
//   height:auto;
//   top: 0;
//   left: 0;
//   // border: solid $color2;
//   background-image: url(images/closeup_panels.jpg);
//   background-repeat: no-repeat;
//   background-position: left top;
//   background-attachment: fixed;
//   // width: 1000px;
//   // height: 1000px;
//   overflow-x: hidden;
//   overflow-y: hidden;
//
// }




.title-icon {
  height: 1rem;
  margin-top: 8px;
  // margin-left: 3px;
}


a h1 {
  margin-left: 4px;
  font-size: 0.9rem;
  vertical-align: top;
  padding-top: 21px;
  margin-bottom: 40px;
}

.search-column {
  padding: auto 0;
  width: 100%;
  text-align: center;
  // flex-wrap: wrap-reverse;
  z-index: 2;
}

.input {
  width: 80%;
  text-align: left;
  padding: 4px 7px;
  margin: 6px 0;
}

.submit, input{

  //width: 7rem;
  text-align: left;
  border-radius: 6px;
  .searchbar{
    width: 35px;
    height: 1.5rem;
  }
  margin: 7px 0;
}

.searchbar {
  text-align: left;
  padding: 2px 4px;
}


#searchinput {
  width: 30%;
  max-width: 400px;
  min-width: 185px;
  text-align: right;
}

button {
  width:35px;
  height: 35px;
  vertical-align: top;
}

button:hover {
  border: black ridge 2px;
  font-style: bold;
}

.fa:hover {
  ;
}

.title {
  // border: solid $color4;
  display: block;
  padding-top: 4px;
  margin: auto 0;
}

.top {
  // border: solid $color4;
  margin:0;
  padding: 6px;
  width:100%;
  justify-content:left;
  text-align: left;
}

.top-nav {
  margin: 0 2px;
  // width:100%;
}

.row-nav {
  width: 100%;
  margin: 0;
}

.nav-border {
  // border: solid $color3;
  // height: 140px;
  // margin: 0;
  // width: auto;
  margin-bottom:0px;
  padding-bottom: 0px;
  z-index: 2;
}

.top-nav h3, .top-nav h6 {
  text-align: center;

}


.connect {
  text-align: center;
}
.connect-icon {
  display: inline-block;
  // margin: 0;
  // padding: 0;
  // height: 20px;

}

.connect-subtitle {
  // margin-top: 10px;
}



.top-nav {
  // border: solid;
  // padding: 1rem;
  margin-left:auto;
  margin-right:auto;
}



a h6,  .connect-group{
  // TODO
  border-top: groove $color4 1px;
  // border-style: ;
  margin:0;
  padding: 16px 0 0;
  width:100%;
  margin-bottom: -12px;
  display: inline-block;
  text-align: center;

}

a h3 {
  padding-top: 8px;
}

a img {
    vertical-align:top;
}
