* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a:link {
  color: black; }

a:visited {
  color: #a80534; }

a:hover, a:active {
  color: #ffb900; }

a {
  color: black; }

.brochure {
  color: #015941; }

header {
  background-color: transparent; }

.title-main {
  background-color: #FFFFFF; }

footer {
  background-color: #FFFFFF; }

.bottom-nav {
  background-color: #007cc2;
  color: #FFFFFF; }

.school-nav {
  background-color: #007cc2; }

.contact-nav {
  background-color: #007cc2; }

.highlight {
  background-color: #007cc2; }

.submit {
  background-color: #a80534;
  color: #FFFFFF; }

.highlight:nth-child(2) {
  color: #FFFFFF; }

.brochure {
  color: #015941;
  background-color: #ffb900; }

.school-img {
  background-color: #f0f0f0; }

.contact-nav a {
  color: #FFFFFF; }

li:before {
  color: #015941; }

.nav-research-element {
  color: red; }

.nav-institutions li:before {
  color: black; }

a:link {
  color: black; }

a:visited {
  color: #a80534; }

a:hover, a:active {
  color: #ffb900; }

a {
  color: black; }

.brochure {
  color: #015941; }

header {
  background-color: transparent; }

.title-main {
  background-color: #FFFFFF; }

footer {
  background-color: #FFFFFF; }

.bottom-nav {
  background-color: #007cc2;
  color: #FFFFFF; }

.school-nav {
  background-color: #007cc2; }

.contact-nav {
  background-color: #007cc2; }

.highlight {
  background-color: #007cc2; }

.submit {
  background-color: #a80534;
  color: #FFFFFF; }

.highlight:nth-child(2) {
  color: #FFFFFF; }

.brochure {
  color: #015941;
  background-color: #ffb900; }

.school-img {
  background-color: #f0f0f0; }

.contact-nav a {
  color: #FFFFFF; }

li:before {
  color: #015941; }

.nav-research-element {
  color: red; }

.nav-institutions li:before {
  color: black; }

header {
  background-color: transparent;
  width: 100%; }

.title-icon {
  height: 1rem;
  margin-top: 8px; }

a h1 {
  margin-left: 4px;
  font-size: 0.9rem;
  vertical-align: top;
  padding-top: 8px;
  margin-bottom: 40px; }

.search-column {
  padding: auto 0;
  width: 100%;
  text-align: center; }

.input {
  width: 80%;
  text-align: left;
  padding: 4px 7px; }

.submit, input {
  text-align: left;
  border-radius: 6px;
  margin-bottom: 6px; }
  .submit .searchbar, input .searchbar {
    width: 35px;
    height: 1.5rem; }

.searchbar {
  text-align: left;
  padding: 2px 4px; }

#searchinput {
  width: 30%;
  max-width: 400px;
  min-width: 185px;
  text-align: right; }

button {
  width: 35px;
  height: 35px;
  vertical-align: top; }

button:hover {
  border: black ridge 2px;
  font-style: bold; }

.title {
  display: block;
  padding-top: 4px;
  margin: auto 0; }

.top {
  margin: 0;
  padding: 6px;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left; }

.top-nav {
  margin: 0 2px; }

.row-nav {
  width: 100%;
  margin: 0; }

.top-nav h3, .top-nav h6 {
  text-align: center; }

.connect {
  text-align: center; }

.connect-icon {
  display: inline-block; }

.top-nav {
  margin-left: auto;
  margin-right: auto; }

a h6, .connect-group {
  border-top: groove black;
  margin: 0;
  padding: 16px 0 0;
  width: 100%;
  margin-bottom: -12px;
  display: inline-block;
  text-align: center; }

a h3 {
  padding-top: 8px; }

a img {
  vertical-align: top; }

a:link {
  color: black; }

a:visited {
  color: #a80534; }

a:hover, a:active {
  color: #ffb900; }

a {
  color: black; }

.brochure {
  color: #015941; }

header {
  background-color: transparent; }

.title-main {
  background-color: #FFFFFF; }

footer {
  background-color: #FFFFFF; }

.bottom-nav {
  background-color: #007cc2;
  color: #FFFFFF; }

.school-nav {
  background-color: #007cc2; }

.contact-nav {
  background-color: #007cc2; }

.highlight {
  background-color: #007cc2; }

.submit {
  background-color: #a80534;
  color: #FFFFFF; }

.highlight:nth-child(2) {
  color: #FFFFFF; }

.brochure {
  color: #015941;
  background-color: #ffb900; }

.school-img {
  background-color: #f0f0f0; }

.contact-nav a {
  color: #FFFFFF; }

li:before {
  color: #015941; }

.nav-research-element {
  color: red; }

.nav-institutions li:before {
  color: black; }

.row-newsletter {
  text-align: center; }

.newsletter-icon {
  margin: 3px 0 0 3px;
  padding: 0;
  width: 1.8rem; }

.newsletter-submit {
  padding: 3px 5px; }

.newsletter-submit:hover {
  border: black ridge 2px;
  font-weight: bold; }

#newsletter-input {
  width: 36%;
  max-width: 300px;
  padding: 1px 6px;
  min-width: 145px; }

.nav-low {
  text-align: center;
  vertical-align: middle;
  padding: 8px 0px; }

.row-low {
  margin: auto 0; }

.nav-low-element {
  border: ridge #015941;
  background-color: #007cc2; }

.row-school {
  width: 100%;
  margin: auto 0px; }

.school-img {
  border-radius: 40px;
  border-style: ridge;
  border-color: #3333aa;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  width: 50%; }

.address {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto 10px; }

footer p:first-child {
  max-width: 600px;
  padding: 7px 0px 0px; }

.contact-nav {
  width: 100%;
  padding: 2px 0 2px; }

a {
  text-align: center; }

a:link {
  color: black; }

a:visited {
  color: #a80534; }

a:hover, a:active {
  color: #ffb900; }

a {
  color: black; }

.brochure {
  color: #015941; }

header {
  background-color: transparent; }

.title-main {
  background-color: #FFFFFF; }

footer {
  background-color: #FFFFFF; }

.bottom-nav {
  background-color: #007cc2;
  color: #FFFFFF; }

.school-nav {
  background-color: #007cc2; }

.contact-nav {
  background-color: #007cc2; }

.highlight {
  background-color: #007cc2; }

.submit {
  background-color: #a80534;
  color: #FFFFFF; }

.highlight:nth-child(2) {
  color: #FFFFFF; }

.brochure {
  color: #015941;
  background-color: #ffb900; }

.school-img {
  background-color: #f0f0f0; }

.contact-nav a {
  color: #FFFFFF; }

li:before {
  color: #015941; }

.nav-research-element {
  color: red; }

.nav-institutions li:before {
  color: black; }

body {
  width: 100%;
  max-width: 1300px; }

.row-main img {
  width: 10%;
  min-width: 2rem;
  max-width: 4rem;
  margin: 0  18px; }

h2 {
  padding: 8px 0px 8px 0px; }

.row-main {
  margin: 40px 0px 0px 21px; }

.highlight {
  margin: 40px 0px 40px 15px; }

.highlight-container {
  border: black solid; }

.highlight-col {
  border: black solid; }

.summit, .summit img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: none;
  height: auto;
  margin: 16px 0; }

iframe {
  width: 100%;
  max-width: 854px;
  height: 480px; }

.summary, .brochure {
  width: 100%;
  max-width: 40rem;
  margin: 12px auto; }

.wide {
  max-width: 80rem;
  margin: 64px 0 32px; }

.brochure {
  text-align: left;
  padding: 16px;
  border: black 2px inset; }

ul {
  list-style: none;
  margin-left: 27px; }

.nav-research li:before {
  content: "\f101";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em; }

.summary li:before {
  content: "\f1bb";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em;
  width: 1.3em; }

.chart-* {
  text-align: center;
  margin: 5px auto; }

.nav-institutions li:before {
  content: "\f19c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em;
  width: 1.3em; }

.nav-facilities li:before {
  content: "\f0eb";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em;
  width: 1.3em; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem; }

@media (max-width: 480px) {
  font-size: 0.7rem; }
@media (max-width: 767px) {
  fontsize: 0.8rem;
  display: block;
  a h1 {
    font-size: 0.6rem; } }
@media (max-width: 992px) {
  fontsize: 0.9rem; }
@media (max-width: 1200px) {
  fontsize: 1.1rem; }
.title {
  font-size: 0.9rem;
  font-weight: bold; }

.top-nav h3 {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.top-nav h6, .connect-subtitle {
  font-size: .8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

p {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-weight: bold; }

h3 .title-main {
  font-weight: bold; }

.highlight:nth-child(2) {
  font-size: 1.4rem;
  font-weight: lighter; }

.brochure {
  font-size: 1.5rem; }

.nav-low-element h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold; }

.contact-nav {
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 2px; }

.test-borders {
  border: solid red; }

@media (min-width: 600px) {
  .two-columns p {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 3em;
            column-gap: 3em; } }
@media (max-width: 600px) {
  .two-summary p {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 2em;
            column-gap: 2em; } }
.row {
  overflow: hidden; }

[class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px; }

.school-img {
  margin-bottom: 0px;
  padding-bottom: 0px; }

.flex-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.inline {
  display: inline-block; }

@media (max-width: 767px) {
  .input-position input {
    margin: 0 auto;
    display: block; } }

/*# sourceMappingURL=styles.css.map */