// HTML 300 Florida Energy Redesign Projects
* { box-sizing: border-box;}
* { margin: 0; padding: 0; }


@import 'colors';
@import 'header';
@import 'footer';
@import 'body';
@import 'font';

.test-borders {
  border: solid red;
}


// @media (min-width: 995px) {
//   .two-columns p {
//     column-count: 2;
//     column-gap: 3em;
//   }
// }
//
// @media (max-width: 995px) {
//   .two-summary p {
//     column-count: 1;
//     column-gap: 2em;
//   }
// }

// html {
//   background: url(images/clouds_solar_turbine.jpg) no-repeat center center fixed;
//   background-size: cover;
//   height: 100%;
//   overflow: hidden;
// }

.row{
    overflow: hidden;
}

html{
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//  [class*="col-"] {
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }
//
// .school-img {
//   margin-bottom:0px;
//   padding-bottom: 0px;
// }
//
// .nav-border {
//   margin-bottom:0px;
//   padding-bottom: 0px;
// }

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
  // flex-wrap:nowrap;
}

@media (max-width: 767px) {
  .input-position input {
    margin: 0 auto;
    display: block;
  }
}




// /*==========  Mobile First Method  ==========*//*=====
//
// /* Custom, iPhone Retina */
// @media only screen and (min-width : 320px) {
//
// }
//
// /* Extra Small Devices, Phones */
// @media only screen and (min-width : 480px) {
//
// }
//
// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px) {
//
// }
//
// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) {
//
// }
//
// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {
//
// }
